/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Theme Background Colors */
.theme-major {
    background-color: #0078ad;
}

.theme-minor {
    background-color: #0c5273;
}

.theme-accent {
    background-color: #e6e6e6;
}

/* Theme Item Colors */
.theme-major-item {
    color: #0078ad;
}

.theme-minor-item {
    color: #0c5273;
}

.theme-accent-item {
    color: #e6e6e6;
}

/* Theme Border color */
.theme-border {
    border: 1px solid #0078ad;
}

/* Link Pointer */
a {
    cursor: pointer;
    text-decoration: none;
}

/* Custom hr */
hr{
  border: none;
  height: 4px;
  background: #e6e6e6;
}

